# Python Cache
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual Environment
venv/
env/
.venv/

# Environment Variables
.env

# VS Code
.vscode/

# Streamlit Secrets
.streamlit/secrets.toml
